@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~js-datepicker/dist/datepicker.min.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.outerBox{
  width:50%;
  padding:10%;
  margin: auto;
  background-color: forestgreen;
}
.Nav{
  border-bottom: 2px solid green;
}
.info-box{
  padding: 20px;
  margin:25px;
  border: 2px solid green;
  display: grid;
}
.appointment-button{
  margin-left: 25px;
  font-size: 15px;
  display: flex;
  background-color: green;
  color: white;
}
.user-page{
  display: flex;
}
.sideBar{
  height: 700px;
  width: max-content;
}
.facePic{
  height: 200px;
  margin: auto;
}
.appointment-inputs{
  display: table-caption;
  padding-left: 25px;

}
.homepage-input-labels{
  display: flex;
  color:white;
}
.homepage-input{
  margin:15px;
}
.homepage-input-button{
  margin:5px;
  color:green;
}
.register-courses{
  display: flex;
}
button {
  color: #444444;
  background: #F3F3F3;
  border: 1px #DADADA solid;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 9pt;
  outline: none;
}